<!-- <a href="/auth/facebook"><h1>Login With Facebook</h1></a> -->

<!DOCTYPE html>
<html>
  <head>
    <style>
      .button {
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 20px;
        width: 180px;
      }

      .button2 {
        background-color: white;
        color: #1877f2;
        border: 2px solid #1877f2;
      }

      .button2:hover {
        background-color: #1877f2;
        color: white;
      }
      .img {
        margin-right: 10px;
        height: 30px;
        width: 30px;
      }
    </style>
  </head>
  <body>
    <!-- <a class="button button2" href="/auth/facebook" -->
    <a class="button button2" href="/Generate"
      ><img
        class="img"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png"
      />Login With Facebook</a
    >
  </body>
</html>

<!-- <a href="/auth/facebook"><h1>Login Inputs</h1></a>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/facebook" method="post" id="share-form">
      <div class="form-group mb-5">
        <input type="text" name="clientId" id="title" placeholder="clientId" />
      </div>
      <div class="form-group mb-5">
        <input
          type="text"
          name="clientSecret"
          id="clientSecret"
          placeholder="client Secret"
        />
      </div>
      <p class="mt-5">
        <input type="submit" value="Share" class="btn btn-primary btn-lg" />
      </p>
    </form>
  </body>
</html> -->
