<a href="/logout">Logout</a>

<h5><b>access_token </b>:-<b><%= user.token %></b></h5>
<h5><b>page id </b>:-<b><%= user.result.data.profile_id %></b></h5>

<p><b>app name </b>:- <%= user.result.data.application %></p>
